main {
    background-color: #008080;
    height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #c0c0c0;
    display: flex;
    border-top: 2px solid white;
    height: 40px;
}

.nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.start {
    position: absolute;
    left: 10px;
    bottom: -3px;
    font-weight: 700;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: -0.5px;
    color: black;

    background-color: #c0c0c0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
    box-shadow: 1px 1px 1px black;
}

.start img {
    margin-bottom: 2px;
}

.start span {
    padding-left: 4px;
    padding-right: 4px;
}

.time {
    position: absolute;
    right: 10px;
    bottom: -3px;
    font-size: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    box-shadow: -1px -1px 1px black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.time-inner {
    position: relative;
    padding-left: 50px;
}

.home-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-img > img {
    margin-top: 25vh;
}

#window-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
}

#icons {
    position: absolute;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.icon {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    color: white;
}

.icon p {
    font-size: 10px;
}

.icon > img {
    width: 50px;
    height: 50px;
}

.window {
    position: absolute;
    width: 80%;
    max-width: 700px;
    margin-left: 10%;
    background-color: #c0c0c0;
    min-height: 415px;
    height: fit-content;
    top: 20vh;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
    box-shadow: 1px 1px 1px black;
}

.document {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c0;
    z-index: 999;
    height: fit-content;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
    box-shadow: 1px 1px 1px black;
}

#docs-window {
    display: none;
}

.window-header {
    background-color: #000181;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
}

.window-header > p {
    font-size: 14px;
    font-weight: 900;
    color: white;
    margin-left: 20px;
}
.window-md-icons {
    position: absolute;
    top: 30px;
    left: 5px;
    right: 5px;
    height: 25px;
    display: flex;
    font-size: 12px;
}

.window-md-icons > div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.window-md-icons div > span {
    text-decoration: underline;
}

.docs-header-btn {
    position: absolute;
    top: 1px;
    right: 0;
    width: 75px;
    height: 25px;
}

.doc-head-img-left {
    width: 45px;
    height: 22px;
    margin-right: -5px;
}

.doc-head-img-right {
    width: 22px;
    height: 22px;
}

.center-box {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 70px;
    background-color: white;
    min-height: 300px;
    height: fit-content;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    box-shadow: -1px -1px 1px black;
    display: flex;
}

.window-inner-obj {
    position: absolute;
    font-weight: 400;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    box-shadow: -1px -1px 1px black;
    width: 100px;
    bottom: 10px;
    left: 10px;
}

.window-inner-obj > span {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
}

.window-inner-obj-2 {
    position: absolute;
    font-weight: 400;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    box-shadow: -1px -1px 1px black;
    right: 10px;
    left: 120px;
    bottom: 10px;
}

.window-inner-obj-2 > span {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
}

.docs > p {
    font-size: 10px;
    text-align: center;
}

.docs > img {
    width: 50px;
    margin-left: 8px;
}

.docs-1 {
    position: absolute;
    left: 10px;
    top: 20px;
}

.docs-2 {
    position: absolute;
    top: 20px;
    left: 90px;
}

.docs-3 {
    position: absolute;
    top: 20px;
    left: 170px;
}

.docs-4 {
    position: absolute;
    top: 20px;
    left: 250px;
}

.docs-5 {
    position: absolute;
    top: 20px;
    left: 330px;
}

.docs-6 {
    position: absolute;
    top: 20px;
    left: 410px;
}

@media only screen and (max-width: 617px) {
    .docs-6 {
        top: 110px;
        left: 10px;
    }

    main {
        background-color: #008080;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .home-img > img {
        width: 200px;
        height:  200px;
    }
    
}

@media only screen and (max-width: 522px) {
    .docs-5 {
        top: 110px;
        left: 90px;
    }
}

@media only screen and (max-width: 420px) {
    .docs-4 {
        top: 110px;
        left: 170px;
    }
}

@media only screen and (max-width: 321px) {
    .docs-3 {
        top: 200px;
        left: 10px;
    }

    .docs-4 {
        top: 200px;
        left: 90px;
    }

    .home-img > img {
        width: 150px;
        height:  150px;
    }
}

.layer-2 {
    left: 20px;
    top: 22vh;
}

.layer-3 {
    left: 40px;
    top: 24vh;
}

#experience-window, 
#projects-window, 
#about-window, 
#lang-window,
#contact-window,
#resume-window {
    display: none;
}


.docs {
    position: absolute;
    min-width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: -17%;
    margin-bottom: 10%;
    min-height: 90%;
}

.center-box-docs {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 70px;
    bottom: 0;
    background-color: white;
    min-height: 700px;
    height: fit-content;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    box-shadow: -1px -1px 1px black;
    display: flex;
}