@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#my-title {
    font-weight: 900;
    position: relative;
    z-index: 2;
    font-family: "Roboto";
    width: 300px;
    margin: auto;
    padding-top: 30vh;
}

#my-title > img {
    width: 300px;
    height: 200px;
    object-fit: contain;

}

#my-title > h5 {
    margin-bottom: -15px;
    font-size: 35px;
    margin-top: -50px;
    color: white;
    letter-spacing: -1px;
}

#my-title > h1 {
    font-size: 50px;
    margin-left: 25px;
    color: black;
    font-weight: 900;
    letter-spacing: -3px;
}