@import url('http://fonts.googleapis.com/css?family=Roboto');

br {
  display: block;
  line-height: 1.6em;
}



ol,
ul {
  list-style: none;
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

strong,
b {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}



/* page structure */

#search-area {
  display: block;
  max-width: 70%;
  margin: 0 auto;
  padding: 15px 25px;
}

#gh-api-data {
  display: block;
  padding: 25px 0;
}

#loader {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.repos {
    display: flex;
    justify-content: start;
}


/* page content styles */

.small-name {
  font-size: 0.75em;
  color: #a9a9a9;
  font-style: italic;
}

.avi {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}

.avi img {
  border: 1px solid #ccc;
  padding: 3px;
}

.repo-list {
  display: block;
  clear: both;
  width: 100%;
}

.repo-list ul {
  font-size: 1.2em;
}

.repo-list ul li {
  display: block;
}

.repo-list ul li a {
  font-weight: bold;
  padding: 6px 9px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
}

.repo-list ul li a span {
  font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
  font-size: 0.9em;
}

/* input field */

#gh-username {
  display: block;
  padding: 5px 8px;
  font-size: 1.4em;
  color: #666;
  max-width: 550px;
  margin-bottom: 15px;
}