/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "source code pro";
    background-color: rgba(20, 20, 20, 0.9);
}

.logo {
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(102, 225, 102);
    font-weight: 700;
    letter-spacing: 1px;
}

#para-2 {
    margin-top: -10px;
    margin-left: -70px;
}

#cursor {
    width: 10px;
    height: 14px;
    margin-left: 5px;
}